<!DOCTYPE html>
<head>
    <title>
        User register
    </title>
</head>
<body>
    <h1>
        Registration
    </h1>
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <div>
            <label for="name">Nickname</label>
            <input type="text" name="name" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="Password">Password</label>
            <input type="password" id="Password" name="Password" required>
        </div>
        <div>
            <label for="Confirm_Password">Please type your Password again</label>
            <input type="password" id="Confirm_Password" name="Confirm_Password" required>
        </div>
        <span>{{Error_message}}</span>
        <button type="submit">Submit</button>&nbsp;&nbsp;
        <div>
            <a href="/">Return to List</a>
        </div>
    </form>
</body>