<!DOCTYPE html>
<html>
    <title>
        Order list
    </title>
</html>
<body>
    <div>
        <div>
            {{msg_object.0.message}}
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Amazon</th>
                        <th scope="col">Module No.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in list %}
                    <tr>
                        <th scope="row">{{ product.2 }}</th>
                        <td>{{ product.3 }}</td>
                        <td>{{ product.7 }}</td>
                        <td>{{ product.4 }}</td>
                        <td>{{ product.6 }}</td>
                        <td>{{ product.9 }}</td>
                        <td>
                            <a href="{% url 'cancel' id=product.8 %}">
                                Cancel
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>